<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="[${threadid}] ${date:format=HH\:mm\:ss.fff} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}]: ${message} ${exception:format=tostring}" encoding="Unicode" />
  </targets>
  <rules>
    <logger name="*" minlevel="Fatal" writeTo="console" />
  </rules>
</nlog>