body.swagger-section {
    background-color: #ecf0f5;
}

.swagger-section #header {
    background: #3c8dbc;
    height: 22px;
}

div.info_title {
    display: none;
}

div#api_info.info {
    display: none;
}

div.authorize-wrapper {
    display: none;
}

div.footer {
    display: none;
}

.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-icon {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

div#swagger-ui-container.swagger-ui-wrap {
    padding: 10px;
    color: #333;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
    padding: 10px;
    color: #444;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #3c8dbc;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    min-width: 760px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

span.logo__title {
    margin-left: -5px;
    font-size: 20px !important;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
}

a#explore.header__btn {
    background-color: #00a65a !important;
    border-color: #008d4c !important;
    border: 1px solid #008d4c !important;
    height: 16px !important;
    font-size: 16px !important;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    padding: 6px 12px !important;
    text-decoration: none !important;
    border-radius: 3px !important;
    color: #FFF !important;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

.input-sm {
    height: 22px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-group-sm > .btn, .btn-sm {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 40px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}