<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target 
      name="console" xsi:type="Console" 
      layout="${longdate} [${uppercase:${level}}] [${logger}]: ${message} ${exception:format=tostring}"
    />
    <target 
      name="file" xsi:type="File"
      layout="${longdate} [${uppercase:${level}}] [${logger}]: ${message} ${exception:format=tostring}"
      fileName="${basedir}/Logs/Symbiote.Current.log"
      archiveFileName="${basedir}/Logs/Symbiote.Archive{#####}.log"
      archiveEvery="Minute"
      archiveAboveSize="10000"
      archiveNumbering="Rolling"
      maxArchiveFiles="3"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" 
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console"/>
    <logger name="*" minlevel="Trace" writeTo="file"/>
  </rules>
</nlog>