<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="InstanceName" value="OpenIIoT" />
    <add key="ConfigurationFileName" value="OpenIIoT.json" />
    <add key="PackageConfigurationFileName" value="OpenIIoTPlugin.json" />
    <add key="PackagePayloadFileName" value="Plugin.zip" />
    <add key="Directories" value="{          &quot;Data&quot;:&quot;Data&quot;,          &quot;Apps&quot;:&quot;Data\|Apps&quot;,          &quot;Plugins&quot;:&quot;Plugins&quot;,          &quot;Temp&quot;:&quot;Data\|Temp&quot;,          &quot;Packages&quot;:&quot;Data\|Packages&quot;,          &quot;Persistence&quot;:&quot;Data\|Persistence&quot;,          &quot;Web&quot;:&quot;Web&quot;,          &quot;Logs&quot;:&quot;Logs&quot;          }" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <variable name="xLogger.Prefix" value="│ " />
    <variable name="xLogger.Header" value="┌─────────── ─ ───────────────────────── ─────────────────────────────────────────────────────────────────── ─────── ─    ─     ─" />
    <variable name="xLogger.EnterPrefix" value="${xLogger.Prefix}──► " />
    <variable name="xLogger.ExitPrefix" value="${xLogger.Prefix}◄── " />
    <variable name="xLogger.CheckpointPrefix" value="${xLogger.Prefix}√ " />
    <variable name="xLogger.ExceptionPrefix" value="${xLogger.Prefix}╳ " />
    <variable name="xLogger.StackTracePrefix" value="${xLogger.Prefix}@ " />
    <variable name="xLogger.ExecutionDurationPrefix" value="${xLogger.Prefix}◊ " />
    <variable name="xLogger.LinePrefix" value="${xLogger.Prefix}  ├┄┈ " />
    <variable name="xLogger.FinalLinePrefix" value="${xLogger.Prefix}  └┄┈ " />
    <variable name="xLogger.LinePrefixVariable" value="${xLogger.Prefix}  $└┄► " />
    <variable name="xLogger.Footer" value="└──────────────────── ───────────────────────────────  ─  ─          ─ ─ ─    ─   ─" />
    <variable name="xLogger.InnerSeparator" value="├──────────────────────── ─       ──  ─" />
    <variable name="xLogger.OuterSeparator" value="■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ■ ■■■■■■■■■■■■■■■ ■■  ■■ ■■   ■■■■ ■■     ■■     ■ ■" />
    <variable name="xLogger.ExceptionHeaderPrefix" value="┌──┐" />
    <variable name="xLogger.ExceptionLinePrefix" value="│██│" />
    <variable name="xLogger.ExceptionFooterPrefix" value="└──┘" />
    <variable name="xLogger.HeadingFont" value="Graffiti" />
    <variable name="xLogger.SubHeadingFont" value="Block" />
    <variable name="xLogger.SubSubHeadingFont" value="Block" />
    <variable name="xLogger.Indent" value="3" />
    <variable name="xLogger.AutoPruneEnabled" value="true" />
    <variable name="xLogger.AutoPruneAge" value="300" />
    <variable name="RealtimeLogger.LogHistoryLimit" value="300" />
    <targets>
      <target name="fileAsync" xsi:type="AsyncWrapper">
        <target name="file" xsi:type="File" layout="[${threadid}] ${longdate} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}]: ${message} ${exception:format=tostring}" fileName="${basedir}/Logs/OpenIIoT.Current.${longdate:cached=true}.log" archiveFileName="${basedir}/Logs/OpenIIoT.Archive{#####}.log" archiveAboveSize="10000000" archiveNumbering="Rolling" archiveEvery="Hour" maxArchiveFiles="3" concurrentWrites="true" keepFileOpen="false" encoding="Unicode" />
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="[${threadid}] ${date:format=HH\:mm\:ss.fff} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}]: ${message} ${exception:format=tostring}" encoding="Unicode" />
      <target name="method" xsi:type="MethodCall" className="OpenIIoT.Core.RealtimeLogger, OpenIIoT" methodName="AppendLog">
        <parameter layout="${threadid}" />
        <parameter layout="${longdate}" />
        <parameter layout="${level}" />
        <parameter layout="${logger}" />
        <parameter layout="${message} ${exception:format=tostring}" />
      </target>
      <target name="debugger" xsi:type="Debugger" layout="[${logger}]: ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="method" />
      <!-- <logger name="*" minlevel="Trace" writeTo="debugger" /> -->
    </rules>
  </nlog>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>